.history-head {
    padding: 10px 0;
    margin-bottom: 12px;
    position: relative;

}
.history-drop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.history-label-tick {
    position: absolute;
    right: 0;
    width: 26px;
    height: 26px;
    top: 10px;
    background-color: #f72414;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: 0 2px 5px #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        width: 18px;
        height: 18px;
        margin: 0 auto;
        background-color: #fff;
        transform: translateY(-50%);
        border-radius: 50%;
        //box-shadow: inset 0 7px 10px #ffbeb8;
        transition: 0.2s ease width, 0.2s ease height;
    }
    &:hover {
        &::before {
            width: 15px;
            height: 15px;
            //box-shadow: inset 0 7px 10px #ff9d96;
        }
    }
    &:active {
        transform: translateY(-50%) scale(0.9);
    }
}
.history-all-selected {
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    width: 18px;
    height: 18px;
    margin: 0 auto 0 1px;
    transform: rotateZ(-45deg);
    &::after,
    &::before {
        content: "";
        position: absolute;
        background-color: #fff;
        border-radius: 2px;
        opacity: 0;
        transition: 0.2s ease transform, 0.2s ease opacity;
    }
    &::before {
        left: 0;
        bottom: 0;
        width: 4px;
        height: 8px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
        transform: translateY(-68px);
    }
    &::after {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        //box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
        transform: translateX(78px);
    }
}
#allSelector:checked + .history-label {
    .history-label-tick {
        background-color: #07d410;
        box-shadow: 0 2px 5px #92ff97;
        &::before {
            width: 0;
            height: 0;
        }
        .history-all-selected {
            &::after,
            &::before {
                transform: translate(0);
                opacity: 1;
            }
        }
    }
}
.history-label-text {
    font-size: 16px;
}
.history-label {
    display: flex;
    position: relative;
    width: 190px;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
    color: #212537;
}
.history-label--dark {
    color: #D3D7E0;
}
.history-date-wrapper {
    position: relative;
    margin-right: 20px;
    // padding-right: 25px;
    &::after {
        position: absolute;
        width: 20px;
        height: 20px;
        content: '';
        right: 0;
        top: calc(50% - 10px);
        background: url("../../assets/image/calendar.svg") no-repeat center center;
        background-size: contain;
    }
}
.history-date {
    font-family: "Poppins";
    background-color: transparent;
    border: none;
    padding: 6px 10px;
    color: #212537;
    font-size: 16px;
    max-width: 150px;
    text-align: center;

}
.history-date--dark {
    color: #D3D7E0;
}
.history-button {
    background: linear-gradient(to left,#2F80ED 0%,#2D83D9 12%,#249173 74%,#219653 93%);
    border: none;
    padding: 10px 22px;
    color: #fff;
    font-size: 16px;
    font-family: "Poppins";
    border-radius: 20px;
    position: relative;
    width: 140px;
    height: 45px;
    text-align: center;
    cursor: pointer;
}
.history-button--loading {
    padding: 22px 50px;
    cursor: no-drop;
    .history-loader {
        opacity: 1;
    }
    .history-button-text {
        display: none;
    }
}
.history-button {
    flex-shrink: 0;
    &:disabled {
        opacity: 0.5;
        cursor: no-drop;
    }
}
.history-loader,
.history-loader:after,
.history-loader:before {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    animation-fill-mode: both;
    animation: bblFadInOut 1.2s infinite ease-in-out;
}
.history-loader {
    color: #FFF;
    font-size: 10px;
    position: absolute;
    transform: translateZ(0);
    animation-delay: -0.16s;
    top: -8px;
    right: 65px;
    opacity: 0;

}
.history-loader:after,
.history-loader:before {
    content: '';
    position: absolute;

}
.history-loader:before {
    left: -10px;
    animation-delay: -0.32s;
}
.history-loader:after {
    left: 10px;
}
.history-drop-button {
    display: none;
    background: linear-gradient(to left,#2F80ED 0%,#2D83D9 12%,#249173 74%,#219653 93%);
    border: none;
    padding: 8px 15px;
    color: #fff;
    font-size: 22px;
    font-family: "Poppins";
    border-radius: 20px;

}
@keyframes bblFadInOut {
    0%,
    100%,
    80% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@media only screen and (max-width : 1025px) {
    .history-head {
        display: flex;
        justify-content: flex-end;
    }
    .history--dark {
        .history-drop {
            background: #101116;
        }
    }
    .history-drop {
        position: absolute;
        flex-direction: column;
        gap: 24px;
        background-color: #a1aabb;
        z-index: 10;
        width: 260px;
        padding: 20px 15px;
        border-radius: 20px;
        top: 100%;
    }
    .history-drop-button {
        display: inline-block;
    }
}
