.converter {
    text-align: center;
}
.converter--dark {
    color: #D3D7E0 !important;
    .converter-number-input {
        color: #D3D7E0;
    }
}
.converter--light {
    color: #212537;

}
.converter-title {
    font-size: 35px;
    margin-top: 30px;
}
.converter-wrapper {
    width: 90%;
    margin: 55px auto;
    border-radius: 20px;
    padding: 20px 35px;
    box-shadow: 0 10px 40px -1px rgba(55,63,104,.5);
}
.converter-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px 0 35px;
    &:first-child {
        border-bottom: 1px solid white;
        position: relative;
        &::before {
            position: absolute;
            width: 50px;
            height: 50px;
            background: linear-gradient(to bottom,#2F80ED 0%,#2D83D9 12%,#249173 74%,#219653 93%);
            border-radius: 50%;
            bottom: -25px;
            content: '';
        }
        &::after {
            position: absolute;
            width: 30px;
            height: 30px;
            content: '';
            background: url("../../assets/image/transaction.svg") no-repeat center center;
            bottom: 20px;
            transform: rotate(90deg);
            left: 10px;
            bottom: -15px;
        }
    }
    &:nth-child(2){
        margin-bottom: 0;
    }
}
.converter-number-input {
    background-color: transparent;
    border: none;
    color: #212537;
    font-family: "Poppins";
    font-size: 45px;
    font-weight: 500;
    max-width: 250px;
    &:focus {
        outline: none;
    }
}
@media only screen and (max-width:650px){
  .converter-number-input{
    font-size: 35px;
    max-width: 200px;
  }
  .converter-wrapper{
    width: 100%;
    padding: 10px 20px;
  }
  
}
@media only screen and (max-width:490px){
  .converter-title{
    font-size: 28px;
  }
  .converter-number-input{
    font-size: 30px;
  }
}
@media only screen and (max-width:415px){
   .converter-number-input{
    font-size: 25px;
    max-width: 180px;
   }
   .converter-row{
   &:first-child{
     &::before{
        width: 35px;
        height: 35px;
        bottom: - calc(35px / 2);
    }
    &::after{
        width: 15px;
        height: 15px;
        bottom: - calc(15px / 2);
        left: 10px;
        background-size: cover;
    }
   }
   }
}