.converter {
    text-align: center;
}
.converter--dark {
    color: #D3D7E0 !important;
    .converter-number-input {
        color: #D3D7E0;
    }
}
.converter--light {
    color: #212537;

}
.converter-title {
    font-size: 35px;
    margin-top: 30px;
}
.converter-wrapper {
    width: 90%;
    margin: 25px auto;
    border-radius: 20px;
    padding: 20px 35px;
    box-shadow: 0 10px 40px -1px rgba(55,63,104,.5);
}
.converter-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px 0 25px;
    &:first-child {
        border-bottom: 1px solid white;
        position: relative;
        &::before {
            position: absolute;
            width: 50px;
            height: 50px;
            background: linear-gradient(to bottom,#2F80ED 0%,#2D83D9 12%,#249173 74%,#219653 93%);
            border-radius: 50%;
            bottom: -25px;
            content: '';
        }
        &::after {
            position: absolute;
            width: 30px;
            height: 30px;
            content: '';
            background: url("../../assets/image/transaction.svg") no-repeat center center;
            bottom: 20px;
            transform: rotate(90deg);
            left: 10px;
            bottom: -15px;
        }
    }
}
.converter-number-input {
    background-color: transparent;
    border: none;
    color: #212537;
    font-family: "Poppins";
    font-size: 45px;
    font-weight: 500;
    max-width: 250px;
    &:focus {
        outline: none;
    }
}
