.table-head {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table-list {
    list-style: none;
}
.table-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 15px;
}
.table-item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
}
.table-item-ccy-wrapper {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.table-item-body {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 70%;
}
.table-item-img {
    border-radius: 10px;
    border: 1px solid #fff;
    object-fit: cover;
}
.table-item-ccy {
    font-weight: 500;
    font-size: 24px;
    margin-left: 25px;
}
.table-item--dark {
    color: #D3D7E0;
    background-color: #232C35;
}
.table-item--light {
    background-color: #525c6b33;
}
.table-item-diff {
    font-size: 16px;
    padding-right: 25px;
    position: relative;
    &::before {
        position: absolute;
        width: 20px;
        height: 15px;
        content: '';
        right: 0;
        top: 3px;
        background-size: cover;

    }
}
.table-item-diff-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.table-item-diff-ccyuz {
    font-size: 9px;
}
.table-item-diff--up {
    color: #00C853;
    &::before {
        background-image: url("../../image/up.svg");
        background-repeat: no-repeat;
    }
}
.table-item-diff--down {
    color: #FF2C55;
    &::before {
        background-image: url("../../image/down.svg");
        background-repeat: no-repeat;
    }
}
.table-item-section-name {
    font-size: 12px;
    color: #838383;
}
.table-item-rate {
    font-size: 16px;
}
.table-search-input {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-family: "Poppins";
    color: #838383;
    line-height: 24px;
    &:focus {
        outline: none;
    }
}
.table-input-group {
    padding: 12px 48px 12px 16px;
    background-color: #11171B;
    display: inline-block;
    border-radius: 25px;
    position: relative;
    &::after {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 16px;
        top: 12px;
        content: '';
        background: url("../../image/search-md.svg");
    }
}
.table-input-group--light {
    background-color: rgba(30, 32, 34, 0.3);
    &::after {
        background: url("../../image/search-light.svg");
    }
    .table-search-input {
        color: #11171B;
        &::placeholder {
            color: #11171B;
        }

    }
}
.table-date{
    font-size: 1.2rem;
    color: #fff;
}
.table-date--light{
    color: #11171B;
}