.sort-list,
.sort-list--opened {
    z-index: 9;
    width: 150px;
    max-height: 200px;
    height: auto;
    overflow-y: auto;
    position: absolute;
    border-radius: 10px;
    background: rgb(192, 192, 192,0.1);
    color: #212537;
    box-shadow: 0 10px 40px -1px rgba(55,63,104,.9);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);
    padding: 5px 0;
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: transparent !important;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent !important;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #fff;
    }
}
.sort-list--dark {
    background-color: rgba(61, 67, 92,0.6);
    color: #fff;
}
.sort-list--closed {
    display: none;
}
.sort-item {
    border-bottom: 1px solid rgba(100,113,150,.5);
}
.sort-item-img {
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #fff;
}
.sort-option-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    padding: 12px 12px 2px;
}
.sort-option-tick {
    display: inline-block;
    width: 20px;
    height: 20px;

}
.sort-option-radio:checked + .sort-option-tick {
    background: url("../../image/check.svg") no-repeat center center;
}
.sort-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    font-size: 16px;
    font-family: "Poppins";
    background: transparent;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}
.sort-button--dark {
    color: #fff;
}
.sort-button-span {
    width: 20px;
    height: 20px;
    transition: 200ms;
}
.sort-button--open {
    .sort-button-span {
        transform: rotate(90deg);
        //transition: 200ms;
    }
}
