.sidebar{
    min-width: 270px;
    padding: 20px;
    position: relative;
}
.sidebar-head{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar-head-link{
    display: flex;
    text-decoration: none;
    align-items: center;
   
    span{
        color: #fff;
        font-size: 21px;
        margin-left: 10px;
        font-weight: 700;
   
    }
}
.sidebar-item{
    margin-bottom: 20px;
}
.sidebar-dark-link , .sidebar-dark-link--active, .sidebar-light-link,.sidebar-light-link--active{
    color: #848484;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 100px;
}
.sidebar-dark-link--active{
    color: #111C42;
    background-color: #94ADEC;
   
}
.sidebar-light-link{
    color: #111C42;
}
.sidebar-light-link--active{
    background-color: #111C42;
    background-color: #94ADEC;
    color: #fff;
   
}
.sidebar-list{
    padding: 0;
    list-style: none;
}
.sidebar-item-title{
    margin-left: 20px;
}
.theme-button{
    border: none;
    background-color: transparent;
    width: 100px;
    height: 30px;
    background-color: rgb(0, 0, 0,0.2);
    border-radius: 20px;
    margin-left: 20px;
    position: relative;
    
    &::after{
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        content: '';
        transition: 0.5s;
        top: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: rgb(0, 0, 0,0.1);
        cursor: pointer;
    }
}
.dark-button{
    &::after{
        left: calc(100% - 30px);
        background-color: #323275b0;
        background-image: url('../../../assets/image/oy.svg');
    }
}
.light-button{
    &::after{
        left: 0;
         background-color: #94ADEC;
        background-image: url('../../../assets/image/quyosh.svg');
    }
}
.system-button{
    &::after{
        left: calc(50% - 15px);
        background-image: url('../../../assets/image/settings.svg');
        background-color: #5a6277;
    }
}

@media only screen and (max-width:950px){
    .sidebar{
        padding: 1.5rem;
    }
}
@media only screen and (max-width:850px){
    .sidebar{
        min-width: 200px;
        display: flex;
        flex-direction: column-reverse;
    }
    .sidebar-dark-link , .sidebar-dark-link--active, .sidebar-light-link,.sidebar-light-link--active{
        padding: 8px 15px;
    }
    .sidebar-item-title{
        margin-left: 12px;
    }
    .sidebar-head-link{
        span{
            display: none;
        }
    }
    .sidebar-head{
        margin-bottom: 0;
        margin-top: 10px;
    }
    .sidebar-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media only screen and (max-width:530px){
.sidebar-item-title{
    display: none;
}
}
@media only screen and (max-width:500px){
    .sidebar{
        padding: 12px 8px;
    }
}